# Serveur
PORT=3000
NODE_ENV=development

# Base de données
DATABASE_URL="postgresql://username@localhost:5432/hflix?schema=public"

# JWT
JWT_SECRET=change_this_secret_key
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin
ADMIN_EMAIL=admin@hflix.com
ADMIN_PASSWORD=your_admin_password